.boost-sd__header-title,
.boost-sd__header-description {
  display: none !important;
}

.product-wrapper {
  margin-top: 24rem !important;
}

.boost-sd-layout,
.boost-sd__toolbar-inner {
  max-width: 1280rem !important;
}

.orange-banner {
  padding-right: 20rem;
  padding-left: 20rem;
  flex-wrap: wrap;
}
