.boost-sd__header-title,
.boost-sd__header-description {
  display: none !important;
}

.product-wrapper {
  margin-top: 24rem !important;
}

.boost-sd-layout,
.boost-sd__toolbar-inner {
  max-width: 1280rem !important;
}

.orange-banner {
  padding-right: 20rem;
  padding-left: 20rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.boost-sd__collection-header {
    padding-right: 80rem;
    padding-left: 80rem;
}

.boost-sd__header-image-inner {
    height:480rem !important;
}

@media screen and (max-width: 767px) {
  .orange-banner {
    padding-right: 0;
    padding-left: 0;
    flex-wrap: nowrap;
    display: flex;
    justify-content: left;
  }
